.bg-link {
    background: linear-gradient(
        color-mix(in oklab, currentColor 60%, transparent)
    );
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 0% 50%;

    transition: background-size var(--out--fast);

    &:hover {
        background-size: 100% 50%;
    }
}
