/* Global Styling */
.mf-cursor {
    z-index: var(--mouse-layer) !important;
    mix-blend-mode: exclusion;
}

/* Pointer Styling */
.mf-cursor.-pointer::before {
    /* transform: scale(150%) !important; */
    transform: scale(0%) !important;
}
