/* Global Styling */
.mf-cursor {
    z-index: var(--mouse-layer);
    mix-blend-mode: exclusion;
    color: #fff;
}

/* Pointer Styling */
.mf-cursor.-pointer::before {
    transform: scale(150%) !important;
}
