#wpadminbar {
    opacity: 0;
    transform: translateY(calc(var(--WPADMINBAR_HEIGHT, 2rem) * -1));

    transition: opacity var(--circ--fast, 400ms ease-out),
        transform var(--circ--fast, 400ms ease-out);

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: calc(var(--WPADMINBAR_HEIGHT, 1rem) / 2);
        width: 100%;
    }

    &:hover {
        opacity: 1;
        transform: unset;
    }
}
