#app-filter {
    position: fixed;
    z-index: map-get($zindex-levels, 8);
    pointer-events: none;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 40%);
    mix-blend-mode: overlay;
    mix-blend-mode: soft-light;
    backdrop-filter: saturate(150%);
}

/*
 * This CSS rule applies a grid-like background pattern using two linear gradients:
 * one for horizontal lines and one for vertical lines.
 * The grid consists of 1px lines with transparent spaces between them.
 * 
 * The background-position values are adjusted to align the grid lines precisely:
 * - The first gradient (horizontal lines) starts at (0px, 0px).
 * - The second gradient (vertical lines) is slightly shifted horizontally by -0.5px to avoid blurring.
*/

#app-filter {
    background-image: linear-gradient(#a0a0a0 1px, transparent 1px),
        linear-gradient(90deg, #a0a0a0 1px, transparent 1px);
    background-position: 0px 0px, -0.5px 0px;

    background-size: 50vw 50vh;

    @include media-breakpoint-up(xl) {
        background-size: 33.33vw 50vh;
    }
    @include media-breakpoint-up(xxxl) {
        background-size: 25vw 50vh;
    }
}
