$debug: false;

.img-overlay {
    --bg-color: rgba(0, 0, 0, 15%);
    background-color: var(--bg-color);

    position: absolute;
    height: 100%;
    width: 100%;

    @if $debug {
        border: 2px solid red;
    }
}
