#app-loader {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity var(--quart--slow);
}

body.page--is-ready #app-loader {
    opacity: 0;
    pointer-events: none;
}
