.overLink {
    --animation-delay: 200ms;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;

        background-color: currentColor;
        mix-blend-mode: difference;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform var(--cubic-hard);
    }

    &::after {
        transform: scaleX(1);
        transform-origin: left;
        transition-delay: var(--animation-delay);
    }

    &:hover {
        &::before {
            transform: scaleX(1);
            transform-origin: left;
            transition-delay: var(--animation-delay);
        }

        &::after {
            transform: scaleX(0);
            transform-origin: right;
            transition-delay: 0ms;
        }
    }
}
