.swipeOverLink {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;

        transform-origin: right;
        transform: scaleX(0);

        background-color: currentColor;
        mix-blend-mode: difference;

        transition: transform var(--cubic-hard);
    }

    &:hover {
        &::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}
