.swipeLink {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.1em;
        width: 100%;

        transform-origin: right;
        transform: scaleX(0);

        background-color: currentColor;

        transition: transform var(--quart--regular);
    }

    &:hover {
        &::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }

    &--ontop {
        &::before,
        &::after {
            height: 100%;
            mix-blend-mode: difference;
        }
    }
}
