body::-webkit-scrollbar {
    scrollbar-width: none;
    width: 0;
}

::selection {
    background-color: $marble;
    color: $void;
    text-shadow: blue -4px 4px, turquoise -2px 2px, yellow 2px -2px,
        red 4px -4px;
}
