---
import Skeleton from "../layouts/Skeleton.astro";
import Home_1 from "../sections/Home_1.astro";
---

<Skeleton
    title="Home"
    description="This will be the Home page description."
>
    <div class="grid gap-5">
        <section class="sticky sticky--top">
            <div class="container">
                <div
                    class="grid grid-cols-5 gap-20 border border-border rounded-xl p-20 bg-void"
                    data-aos-group="fade-in-blur-out"
                    data-aos-stagger-gap="500"
                >
                    <div
                        class="col-span-2 overflow-hidden border border-border rounded-xl"
                    >
                        <video
                            src="tifa_lockhart.mp4"
                            muted
                            autoplay
                            playsinline
                            loop
                            class="w-full h-16/10 aspect-square object-cover"
                            data-speed="auto"
                            data-aos-child
                        ></video>
                    </div>
                    <div class="col-span-3">
                        <div class="sticky sticky--above-center">
                            <h2
                                class="text-6xl font-serif strike-around strike-around--right"
                                data-aos-child="split-chromatic"
                                data-aos-split="chars"
                            >
                                <span>Hello World</span>
                            </h2>
                            <p
                                class="text-2xl"
                                data-aos-child="split-chromatic-up"
                                data-aos-split="words"
                            >
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Sunt fugit obcaecati porro
                                accusantium vel nobis corrupti doloribus ipsa
                                vero quam, <a
                                    href="#"
                                    class="cover-link"
                                    >molestias illum vitae soluta praesentium
                                    incidunt veniam</a
                                > eligendi sapiente culpa! Lorem ipsum dolor sit
                                amet consectetur adipisicing elit. Sunt fugit obcaecati
                                porro accusantium vel nobis corrupti doloribus ipsa
                                vero quam, molestias illum vitae soluta praesentium
                                incidunt veniam eligendi sapiente culpa!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sticky sticky--top">
            <div class="container">
                <div
                    class="grid grid-cols-5 gap-20 border border-border rounded-xl p-20 bg-void"
                    data-aos-group="fade-in-blur-out"
                >
                    <div
                        class="col-span-2 overflow-hidden border border-border rounded-xl"
                    >
                        <video
                            src="girl_with_a_pearl_earring.mp4"
                            muted
                            autoplay
                            playsinline
                            loop
                            class="w-full h-16/10 aspect-square object-cover"
                            data-speed="auto"
                            data-aos-child
                        ></video>
                    </div>
                    <div class="col-span-2">
                        <div class="sticky sticky--above-center">
                            <h2
                                class="text-6xl font-serif"
                                data-aos-child="split-left-blur"
                                data-aos-split="chars"
                            >
                                Hello World
                            </h2>
                            <p
                                class="text-2xl text-justify"
                                data-aos-child="split-left-blur"
                                data-aos-split="words"
                            >
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Sunt fugit obcaecati porro
                                accusantium vel nobis corrupti doloribus ipsa
                                vero quam, molestias illum vitae <a
                                    href="#"
                                    class="cover-link"
                                    >soluta praesentium incidunt veniam</a
                                > eligendi sapiente culpa!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sticky sticky--top">
            <div class="container">
                <div
                    class="grid grid-cols-5 gap-20 border border-border rounded-xl p-20 bg-void"
                    data-aos-group="fade-in-blur-out"
                >
                    <div
                        class="col-span-2 overflow-hidden border border-border rounded-xl"
                    >
                        <video
                            src="man_machine_melancholy.mp4"
                            muted
                            autoplay
                            playsinline
                            loop
                            class="w-full h-16/10 aspect-square object-cover"
                            data-speed="auto"
                            data-aos-child
                        ></video>
                    </div>
                    <div class="col-span-2">
                        <div class="sticky sticky--above-center">
                            <h2
                                class="text-6xl font-serif"
                                data-aos-child="split-left-blur"
                                data-aos-split="chars"
                            >
                                Hello World
                            </h2>
                            <p
                                class="text-2xl text-justify"
                                data-aos-child="split-left-blur"
                                data-aos-split="words"
                            >
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Sunt fugit obcaecati porro
                                accusantium vel nobis corrupti doloribus ipsa
                                vero quam, molestias illum vitae <a
                                    href="#"
                                    class="cover-link"
                                    >soluta praesentium incidunt veniam</a
                                > eligendi sapiente culpa!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <Home_1 />
</Skeleton>
