---
import Skeleton from "../layouts/Skeleton.astro";
---

<Skeleton
    title="Home"
    description="This will be the Home page description."
>
    <section class="min-h-dvh container mx-auto p-8 bg-gray-800 rounded-lg">
        <h2>Hello World!</h2>
    </section>
    <section class="min-h-dvh container mx-auto p-8 bg-gray-800 rounded-lg">
        <h2>Hello World!</h2>
    </section>
    <section class="min-h-dvh container mx-auto p-8 bg-gray-800 rounded-lg">
        <h2>Hello World!</h2>
    </section>
    <section class="min-h-dvh container mx-auto p-8 bg-gray-800 rounded-lg">
        <h2>Hello World!</h2>
    </section>
</Skeleton>
