@utility container {
    @apply max-w-7xl 3xl:max-w-[50vw] mx-auto px-5;
}

@layer utilities {
    .text-stroke {
        color: transparent;
        --stroke-width: 2px;
        --stroke-color: var(--color-text);
        -webkit-text-stroke: var(--stroke-width) var(--stroke-color);
    }
}
