---
import Unveil from "./Unveil.astro";
---

<Unveil
    wrapperTag="footer"
    id="app-footer"
    class="border-t-1 border-border py-40"
>
    <div class="container">
        <p class="text-5xl">
            &copy; {new Date().getFullYear()} Mi Portfolio. Todos los derechos reservados.
            &copy; {new Date().getFullYear()} Mi Portfolio. Todos los derechos reservados.
            &copy; {new Date().getFullYear()} Mi Portfolio. Todos los derechos reservados.
            &copy; {new Date().getFullYear()} Mi Portfolio. Todos los derechos reservados.
            &copy; {new Date().getFullYear()} Mi Portfolio. Todos los derechos reservados.
        </p>
    </div>
</Unveil>
