<div id="app-noise"></div>

<style>
    #app-noise {
        --boundry: 9rem;

        position: fixed;
        z-index: var(--noise-layer);
        top: calc(var(--boundry) * -1);
        left: calc(var(--boundry) * -1);
        height: calc(100% + var(--boundry) * 2);
        width: calc(100% + var(--boundry) * 2);
        pointer-events: none;

        background-image: url("/noise.svg");
        animation: noising 1500ms steps(3) infinite;

        &.has-myopia {
            backdrop-filter: blur(0.5px);
        }
    }

    @keyframes noising {
        0% {
            transform: translate3d(0, 9rem, 0);
        }
        10% {
            transform: translate3d(-1rem, -4rem, 0);
        }
        20% {
            transform: translate3d(-8rem, 2rem, 0);
        }
        30% {
            transform: translate3d(9rem, -9rem, 0);
        }
        40% {
            transform: translate3d(-2rem, 7rem, 0);
        }
        50% {
            transform: translate3d(-9rem, -4rem, 0);
        }
        60% {
            transform: translate3d(2rem, 6rem, 0);
        }
        70% {
            transform: translate3d(7rem, -8rem, 0);
        }
        80% {
            transform: translate3d(-9rem, 1rem, 0);
        }
        90% {
            transform: translate3d(6rem, -5rem, 0);
        }
        100% {
            transform: translate3d(-7rem, 0, 0);
        }
    }
</style>
