---
const { wrapperTag = "section", ...restProps } = Astro.props;
const WrapperTag = wrapperTag;
---

<WrapperTag
    data-unveil-wrapper
    {...restProps}
>
    <div data-unveil-target>
        <slot />
    </div>
</WrapperTag>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    window.addEventListener(
        "load",
        () => {
            document.querySelectorAll("[data-unveil-wrapper]").forEach((el) => {
                const unveilTarget = el.querySelector("[data-unveil-target]");
                if (!unveilTarget) return;

                gsap.set(el, { overflow: "hidden" });
                gsap.set(unveilTarget, { yPercent: -100 });

                const reveal = gsap.to(unveilTarget, {
                    yPercent: 0,
                    ease: "none",
                });

                ScrollTrigger.create({
                    animation: reveal,
                    scrub: true,

                    trigger: el,
                    start: "top bottom",
                    end: () => `+=${el.offsetHeight}`,

                    // markers: true,
                });
            });
        },
        { once: true }
    );
</script>
