---
import Flower3 from "../assets/svgs/shapes/CS_Flower_3.svg";
---

<section class="min-h-[50vh] grid place-items-center text-center">
    <h2
        class="text-8xl font-monument uppercase absolute mb-0"
        data-speed="1.1"
        data-aos="split-chromatic-up"
        data-aos-split="chars"
        data-aos-scrub
    >
        CoolShapes<br />Flower 3.0
    </h2>
    <Flower3
        class="absolute"
        data-speed="0.9"
        data-aos="rotate-135"
        data-aos-scrub
    />
    <h2
        class="text-8xl font-monument uppercase text-stroke"
        data-speed="1.1"
        data-aos="split-chromatic-up"
        data-aos-split="chars"
        data-aos-scrub
    >
        CoolShapes<br />Flower 3.0
    </h2>
</section>
