---
import "../styles/app.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Loader from "../components/Loader.astro";
import Smoother from "../components/Smoother.astro";
import Filter from "../components/Filter.astro";
import Noise from "../components/Noise.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
        />
        <meta
            name="description"
            content={description}
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <title>{title}</title>
    </head>
    <body class="antialiased bg-body text-text">
        <div id="app-wrapper">
            <Smoother>
                <Header />
                <main
                    id="app-main"
                    class="grid gap-50 py-10"
                >
                    <slot />
                </main>
                <Footer />
            </Smoother>
            <Filter />
            <Noise />
        </div>
    </body>
</html>
